ci:
  autofix_prs: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
    exclude: "\\.vscode/.*.json"
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.7.1
  hooks:
  - id: ruff
  - id: ruff-format

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.13.0
  hooks:
  - id: mypy
    pass_filenames: true
    additional_dependencies:
    - types-requests
    - types-python-dateutil

- repo: https://github.com/pre-commit/pre-commit
  rev: v4.0.1
  hooks:
  - id: validate_manifest
