ci:
  autofix_prs: false

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-json
    exclude: "\\.vscode/.*.json"
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
  - id: ruff-check
  - id: ruff-format

- repo: https://github.com/pre-commit/pre-commit
  rev: v4.5.1
  hooks:
  - id: validate_manifest

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.14
  hooks:
  - id: uv-lock
  - id: uv-sync
