name: Test tap-coda

on:
  push:
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      PIP_CONSTRAIN: ${{ github.workspace }}/.github/workflows/constraints.txt
    strategy:
      matrix:
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Upgrade pip
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      run: |
        pipx install poetry
        poetry --version

    - name: Install tox
      run: |
        pipx install tox
        tox --version

    - name: Run tests
      env:
        TAP_CODA_AUTH_TOKEN: ${{ secrets.TAP_CODA_AUTH_TOKEN }}
      run: |
        tox -e py$(echo ${{ matrix.python-version }} | tr -d .)

  typing:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Upgrade pip
      run: |
        pip install pip
        pip --version

    - name: Install Poetry
      run: |
        pipx install poetry
        poetry --version
        poetry self show plugins

    - name: Install dependencies
      run: |
        poetry install

    - name: Run typing checks
      run: |
        poetry run mypy tap_coda
