name: Test tap-coda

on:
  push:
  workflow_dispatch:
  schedule:
  # Run weekly on Monday at 12:00 PM UTC
  - cron: "0 12 * * 1"

env:
  FORCE_COLOR: "1"

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      UV_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
    strategy:
      matrix:
        python-version:
        - "3.13"
        - "3.14"

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

    - name: Install tox
      run: |
        uv tool install --with tox-uv tox
        tox --version

    - name: Run tests
      env:
        TAP_CODA_AUTH_TOKEN: ${{ secrets.TAP_CODA_AUTH_TOKEN }}
      run: |
        tox -e py$(echo ${{ matrix.python-version }} | tr -d .)

  typing:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: "3.x"

    - name: Install uv
      uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

    - name: Install dependencies
      run: |
        uv sync

    - name: Run typing checks
      run: |
        uv run mypy tap_coda
